# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
part1data="output data.csv"
weather=pd.read_csv(part1data)
weather.head()

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Maxtemp,Windspeed
0,0,Rørvik,99,NO,1584319482,56,64.86,11.24,35.98,24.76
1,1,Hithadhoo,84,MV,1584319482,62,-0.60,73.08,82.99,5.88
2,2,Bowen,75,AU,1584319482,65,-20.02,148.23,82.99,16.11
3,3,Kaitangata,65,NZ,1584319482,68,-46.28,169.85,57.99,3.00
4,4,Härnösand,100,SE,1584319482,60,62.63,17.94,39.20,16.11

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)

location=weather[["Lat","Lng"]]
humidity_list=weather["Humidity"].astype(float)

fig=gmaps.figure()
heat_layer = gmaps.heatmap_layer(location, weights=humidity_list, 
                                 dissipating=False, max_intensity=max(weather["Humidity"]),
                                 point_radius=2)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [4]:
revise_weather=weather.dropna()
new_weather=revise_weather[["City","Maxtemp","Windspeed","Cloudiness"]]
final_weather=new_weather.loc[(new_weather["Maxtemp"]>70) & (new_weather["Maxtemp"]<80)]
final_weather=final_weather.loc[final_weather["Windspeed"]<10]
final_weather=final_weather.loc[final_weather["Cloudiness"]==0]

final_weather

           City  Maxtemp  Windspeed  Cloudiness
26       Japura    74.97       1.45           0
156   Taoudenni    73.11       9.01           0
322    Sakaraha    71.46       3.38           0
352  Tombouctou    77.85       7.74           0
405      Parkes    75.00       5.01           0

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [5]:
hotel_df=final_weather
hotel_df["Lat"]=weather["Lat"]
hotel_df["Lng"]=weather["Lng"]
hotel_df["Country"]=weather["Country"]

In [15]:
hotel_df["Hotel Name"]=""
#import json

params = { 
    "radius":5000,
    "types": "lodging",
    "key": g_key
}

for index,row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"

    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    hotel = requests.get(base_url, params=params).json()
    #print(json.dumps(hotel, indent=4, sort_keys=True))

    try:
        hotel_df.loc[index, "Hotel Name"] = hotel["results"][0]["name"]
        #print(hotel["results"][0]["name"])
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

hotel_df

Missing field/result... skipping.
Missing field/result... skipping.

,City,Maxtemp,Windspeed,Cloudiness,Lat,Lng,Country,Hotel Name
26,Japura,74.97,1.45,0,-0.32,102.35,ID,KOST dan HOMESTAY RUMAH KITA JOSH
156,Taoudenni,73.11,9.01,0,22.68,-3.98,ML,
322,Sakaraha,71.46,3.38,0,-22.90,44.53,MG,Le Relais
352,Tombouctou,77.85,7.74,0,20.00,-3.00,ML,
405,Parkes,75.00,5.01,0,-33.13,148.18,AU,Station Motel

In [13]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [17]:
# Add marker layer ontop of heat map
fig = gmaps.figure()
markers = gmaps.marker_layer(locations,
        info_box_content=hotel_info)
fig.add_layer(markers)
fig.add_layer(heat_layer)
fig

# Display Map

Figure(layout=FigureLayout(height='420px'))